#!/bin/bash

#-------------------------------------------------------------------------------
	ARGV=$BASH_ARGV

	HERE="$(cd $(dirname "$ARGV"); pwd)"
	SELF="$(basename "$ARGV")"

	DIRENV_HOME="$HERE/.env"

#-------------------------------------------------------------------------------
print_line()
{
	printf "%-20s: %-10s (%s)\n" "$1" "$2" "$3"
}

#-------------------------------------------------------------------------------
use_python_venv() {
	. .env/python/bin/activate
}

#-------------------------------------------------------------------------------
	print_line "config" "$HERE" "$SELF"

	use_python_venv

	ssh-add ~/.ssh/id_rsa_python-toolbox
	print_line  "SSH added" "ssh"    "python-toolbox"



